@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --clr-gold: #deb16d;
    --clr-gold-dark: #b4883e;
    --clr-dark: #131313;
    --clr-grey: #e4e4e4;
    --clr-white: #fafafa;
    --clr-background: #080707;
    --clr-pokemon-yellow: #ffc928;   /* Amarillo pastel más vivo */
    --clr-auto-azul:     #4a90e2;    /* Azul pastel más vivo */
    --clr-calc-rojo:     #fa5252;    /* Rojo pastel más vivo */
    --clr-robot-gris:    #444444;    /* Gris pastel más vivo */
    --clr-casa-verde:    #4fd18b;    /* Verde pastel más vivo */
    --clr-crud-rosa:     #fa52b6;    /* Rosa pastel más vivo */
}


*{  
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

h1{ font-size: 5rem; margin-top: 30vh;}
h2{ font-size: 2.3em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}

.container{
    max-width: 1100px;
    margin: auto;
    justify-content: space-between;
}

body{
  color: var(--clr-white);
  background-color: var(--clr-background);
}

header{
    background: rgb(10,8,0);
    background: -moz-linear-gradient(180deg, rgba(10,8,0,1) 25%, rgba(10,8,0,1) 48%, rgba(10,8,0,0.9360119047619048) 57%, rgba(10,8,0,0.8603816526610644) 65%, rgba(10,8,0,0.7567401960784313) 72%, rgba(10,8,0,0.6138830532212884) 79%, rgba(10,8,0,0.2805497198879552) 92%, rgba(10,8,0,0) 100%);
    background: -webkit-linear-gradient(180deg, rgba(10,8,0,1) 25%, rgba(10,8,0,1) 48%, rgba(10,8,0,0.9360119047619048) 57%, rgba(10,8,0,0.8603816526610644) 65%, rgba(10,8,0,0.7567401960784313) 72%, rgba(10,8,0,0.6138830532212884) 79%, rgba(10,8,0,0.2805497198879552) 92%, rgba(10,8,0,0) 100%);
    background: linear-gradient(180deg, rgba(10,8,0,1) 25%, rgba(10,8,0,1) 48%, rgba(10,8,0,0.9360119047619048) 57%, rgba(10,8,0,0.8603816526610644) 65%, rgba(10,8,0,0.7567401960784313) 72%, rgba(10,8,0,0.6138830532212884) 79%, rgba(10,8,0,0.2805497198879552) 92%, rgba(10,8,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a0800",endColorstr="#0a0800",GradientType=1);

    padding-bottom: 1rem;
    position: fixed;
    width: 100%;
    z-index: 3;
}

header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .container .logos {
    position: relative;
}

header .container .logos img {
    display: block;
    width: 6vw;
    transition: all 500ms ease;
    transition: opacity 500ms ease;
}

header .container .logos .logoHover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

header .container .logos:hover .logo {
    opacity: 0;
}

header .container .logos:hover .logoHover {
    opacity: 1;
}

/* 12 */
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    /* box-shadow:inset 2px 2px 2px 0px var(--clr-dark); */
    outline: none;
  }

  .custom-btn a{
    font-size: 1rem;
    text-decoration: none;
    color: var(--clr-white);
  }

  .custom-btn {
    /* background-color: var(--clr-dark); */
    border: none;
    z-index: 1;
  }

  .custom-btn:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: var(--clr-dark);
     /* background-color: rgba(67, 67, 67, 0.501); */
    box-shadow:
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
  }
  .custom-btn:hover {
    color: #fff;
  }
  .custom-btn:hover:after {
    top: 0;
    height: 100%;
  }
  .custom-btn:active {
    top: 2px;
  }

#hero{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 70vh;
    color: #fafafa;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    )
    ,url("media/hero2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#hero .container{
  width: 1100px;
}

#hero ul{
  margin: 1.5rem 0 0 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 1rem;
}

#hero ul li{
  background-color: var(--clr-gold);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: 500;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.336);
  
  transition: all 300ms ease-in-out;
}

#hero ul li a{
  text-decoration: none;
  color: var(--clr-dark);
}

#hero ul li:hover{
  transform: scale(1.03);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.336);
  cursor: pointer;
}

#sobre-mi{
  padding: 3rem 0;
}

#sobre-mi .descripcion{
  padding: 5rem 0;
}

#sobre-mi .title{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#sobre-mi .descripcion .title img{
  width: 3rem;
}

#sobre-mi .descripcion p{
  font-size: 1.2rem;
  width: 55vw;
  margin: 2rem auto;
  text-align: center;
}

/* #sobre-mi .habilidades .hard-skills, #sobre-mi .habilidades .study{
  background-color: var(--clr-dark);
  width: 80vw;
  display: flex;
  flex-direction: row;
} */

#sobre-mi .habilidades{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#sobre-mi .habilidades img{
  height: 4rem;
}

#sobre-mi .habilidades .hard-skills{
  background-color: var(--clr-dark);
  width: 75vw;
  padding: 0.5rem;
  display: flex;
  justify-content: left;
  border-radius: 0px 15px 15px 0px ; 
}

#sobre-mi .habilidades .study{
  background-color: var(--clr-dark);
  width: 75vw;
  margin-left: auto;
  padding: 0.5rem;
  display: flex;
  justify-content: end;
  border-radius: 15px 0px 0px 15px ; 
}

#sobre-mi .habilidades .hard-skills h3, #sobre-mi .habilidades .study h3{
  margin: 1rem ;
  font-size: 2.5rem;
  line-height: 1;
}

/* margenes individuales */
#sobre-mi .habilidades .hard-skills h3{
  margin-left: 15vw;
}
#sobre-mi .habilidades .study h3{
  margin-right: 15vw;
}


#sobre-mi .habilidades ul{
  display: flex;
  flex-direction: row;
  padding: 0 2rem;
  width: 100%;
} 


#sobre-mi .habilidades ul li{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

/* PROYECTOS */

#proyectos{
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  gap: 3rem;
  align-items: center;
}

#proyectos .grid{
  display: grid;
  /* padding: 0 5vw; */
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: Auto Auto;
  gap: 3rem;
}

#proyectos .grid .item{
  color: var(--clr-white);
  border: solid 3px rgba(207, 206, 206, 0.187);
  text-shadow: #1313134b 0px 0px 7px;

background-color: var(--clr-robot-gris);

  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 1rem;
  border-radius: 15px;
  position: relative;
  overflow: hidden; /* Para que la franja no sobresalga */
}
#proyectos .grid .item h3{
  font-size: 2rem;
  margin: 0.5rem 0;
}
#proyectos .grid .item p{
  text-align: left;
  font-size: 1rem;
  line-height: 1.25rem;
  margin: 0;
}
#proyectos .grid .item .preview{
  margin: 1rem 0.5rem 0.5rem 0.5rem; 
  border-radius: 6px;
  box-shadow: #080707 0px 0px 10px;
}
#proyectos .grid .item .action{
background: linear-gradient(
    to top,
    var(--clr-robot-gris) 70%,
    rgba(255,255,0,0) 100%
  );  

  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between; /* Alinea el botón a la derecha */
  align-items: center;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  z-index: 2; /* Para que esté por delante de la imagen */
}
#proyectos .grid .item .action .tecnologias{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
#proyectos .grid .item .action .tecnologias img{
  height: 1.3rem;
  border-radius: 4px;
}
#proyectos .grid .item .action a button{
  background: var(--clr-dark);
  color: var(--clr-white);
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

/* INDIVIDUALES */
/* #proyectos .grid .item.pokedex{
  background-color: var(--clr-pokemon-yellow);
}
#proyectos .grid .item.pokedex .action{
    background: linear-gradient(
    to top,
    var(--clr-pokemon-yellow) 70%,
    rgba(255,255,0,0) 100%
    );  
}

#proyectos .grid .item.calculadora{
  background-color: var(--clr-calc-rojo);
}
#proyectos .grid .item.calculadora .action{
    background: linear-gradient(
    to top,
    var(--clr-calc-rojo) 70%,
    rgba(255,255,0,0) 100%
    );  
}

#proyectos .grid .item.auto{
  background-color: var(--clr-auto-azul);
}
#proyectos .grid .item.auto .action{
    background: linear-gradient(
    to top,
    var(--clr-auto-azul) 70%,
    rgba(255,255,0,0) 100%
    );  
}

#proyectos .grid .item.robot{
  background-color: var(--clr-robot-gris);
}
#proyectos .grid .item.robot .action{
    background: linear-gradient(
    to top,
    var(--clr-robot-gris) 70%,
    rgba(255,255,0,0) 100%
    );  
}

#proyectos .grid .item.casa{
  background-color: var(--clr-casa-verde);
}
#proyectos .grid .item.casa .action{
    background: linear-gradient(
    to top,
    var(--clr-casa-verde) 70%,
    rgba(255,255,0,0) 100%
    );  
}

#proyectos .grid .item.crud{
  background-color: var(--clr-crud-rosa);
}
#proyectos .grid .item.crud .action{
    background: linear-gradient(
    to top,
    var(--clr-crud-rosa) 70%,
    rgba(255,255,0,0) 100%
    );  
} */


/* FOOTER */
footer{
    background: var(--clr-gold);
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end; 

    color: var(--clr-white);
    font-size: 0.9rem;
}

footer .container{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: normal;
    color: var(--clr-white);
}
footer h3{
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 1.4rem;
}

footer a{
color: var(--clr-white);
}

footer .logos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .logos a{
    margin: 0.3rem 0;
    display: flex;
    align-items: center;
    text-decoration: none; 
}

footer .logos .link{
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--clr-gold-dark); 
    border: solid 1px rgba(207, 206, 206, 0.187);
    border-left: none;
}

footer .logos i{
    font-size: 2.8rem;
    cursor: pointer;
    transition: 200ms;
}

footer .logos i:hover{
    transform: scale(1.1);
}

footer .contacto .email{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 2.3rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

footer .contacto ul{
    list-style-type: none;
}
footer .contacto .gmail, footer .contacto .copy{
    height: 100%;
    border: solid 1px var(--clr-gold-dark);
}

footer .contacto .gmail{
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    padding: 0px 13px;
}

footer .contacto .copy{
    background-color: var(--clr-gold-dark);
    border-left: none;
    padding: 0px 11px;
    font-size: 1.1rem;
    cursor: pointer;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

footer .copyright{
    background-color: var(--clr-gold-dark);
    color: var(--clr-gold);
    width: 100%;
    padding: 0.5rem;
    text-align: center;
    font-weight: 600;
}