@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --clr-gold: #deb16d;
    --clr-dark: #131313;
    --clr-grey: #e4e4e4;
    --clr-white: #fafafa;
    --clr-background: #080707;

}


*{  
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

h1{ font-size: 5em; font-family: none;}
h2{ font-size: 2.3em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}

.container{
    max-width: 1100px;
    margin: auto;
    justify-content: space-between;
}

body{
  color: var(--clr-white);
  background-color: var(--clr-background);
}

header{
    background: rgb(10,8,0);
    background: -moz-linear-gradient(180deg, rgba(10,8,0,1) 25%, rgba(10,8,0,1) 48%, rgba(10,8,0,0.9360119047619048) 57%, rgba(10,8,0,0.8603816526610644) 65%, rgba(10,8,0,0.7567401960784313) 72%, rgba(10,8,0,0.6138830532212884) 79%, rgba(10,8,0,0.2805497198879552) 92%, rgba(10,8,0,0) 100%);
    background: -webkit-linear-gradient(180deg, rgba(10,8,0,1) 25%, rgba(10,8,0,1) 48%, rgba(10,8,0,0.9360119047619048) 57%, rgba(10,8,0,0.8603816526610644) 65%, rgba(10,8,0,0.7567401960784313) 72%, rgba(10,8,0,0.6138830532212884) 79%, rgba(10,8,0,0.2805497198879552) 92%, rgba(10,8,0,0) 100%);
    background: linear-gradient(180deg, rgba(10,8,0,1) 25%, rgba(10,8,0,1) 48%, rgba(10,8,0,0.9360119047619048) 57%, rgba(10,8,0,0.8603816526610644) 65%, rgba(10,8,0,0.7567401960784313) 72%, rgba(10,8,0,0.6138830532212884) 79%, rgba(10,8,0,0.2805497198879552) 92%, rgba(10,8,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a0800",endColorstr="#0a0800",GradientType=1);

    padding-bottom: 1rem;
    position: fixed;
    width: 100%;
}

header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .container .logos {
    position: relative;
}

header .container .logos img {
    display: block;
    width: 6vw;
    transition: all 500ms ease;
    transition: opacity 500ms ease;
}

header .container .logos .logoHover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

header .container .logos:hover .logo {
    opacity: 0;
}

header .container .logos:hover .logoHover {
    opacity: 1;
}

/* 12 */
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    /* box-shadow:inset 2px 2px 2px 0px var(--clr-dark); */
    outline: none;
  }

  .custom-btn a{
    font-size: 1rem;
    text-decoration: none;
    color: var(--clr-white);
  }

  .custom-btn {
    /* background-color: var(--clr-dark); */
    border: none;
    z-index: 1;
  }

  .custom-btn:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: var(--clr-dark);
     /* background-color: rgba(67, 67, 67, 0.501); */
    box-shadow:
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
  }
  .custom-btn:hover {
    color: #fff;
  }
  .custom-btn:hover:after {
    top: 0;
    height: 100%;
  }
  .custom-btn:active {
    top: 2px;
  }

#hero{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 70vh;
    color: #fafafa;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    )
    ,url("media/hero2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#hero .container{
  width: 1100px;
}

#hero ul{
  margin: 1.5rem 0 0 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 1rem;
}

#hero ul li{
  background-color: var(--clr-gold);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: 500;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.336);
  
  transition: all 300ms ease-in-out;
}

#hero ul li a{
  text-decoration: none;
  color: var(--clr-dark);
}

#hero ul li:hover{
  transform: scale(1.03);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.336);
  cursor: pointer;
}

#sobre-mi{
  padding: 3rem 0;
}

#sobre-mi .descripcion{
  padding: 5rem 0;
}

#sobre-mi .title{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#sobre-mi .descripcion .title img{
  width: 3rem;
}

#sobre-mi .descripcion p{
  font-size: 1.2rem;
  width: 55vw;
  margin: 2rem auto;
  text-align: center;
}